<app-header titulo="Categorias"></app-header>

<ion-content>
  <!-- <ion-chip > 
    <ion-avatar color = "primary" *ngFor="let dato of categoria">
      <ion-title size="large"></ion-title>
      <ion-img src="{{dato.imagen}}"></ion-img>
    </ion-avatar>
    <ion-label> {{dato.nombre}} </ion-label>
  </ion-chip>  -->

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/pastas"color="primary" >
          <!--<img src="assets/img/pastas.jpg">-->
          <ion-card-header> Card Subtitle </ion-card-header>
            <ion-card-title>Card Title</ion-card-title>           
            
              <ion-card-content>
                <ion-icon name="warning" slot="start" style="zoom:4.0"></ion-icon>
              </ion-card-content> 
            

        </ion-card>
      </ion-col>

      <ion-col>                       
        <ion-card routerLink="/bebidas">
          <img src="assets/img/refrescos.jpg">
          <ion-card-content>Veriedad de bebidas</ion-card-content>        
        </ion-card>
        
      </ion-col>   
      <ion-col size="6">
        <ion-card routerLink="/frutas">
          <img src="assets/img/frutas.jpg">
          <ion-list>
            
            <ion-card-content>Veriedad de frutas</ion-card-content>
          </ion-list>          
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/verduras">
          <img src="assets/img/verduras.jpg">
          <ion-list>
          
            <ion-card-content>Veriedad de verduras</ion-card-content>
          </ion-list>          
        </ion-card>
      </ion-col>   
    </ion-row>
  </ion-grid>

  
    
</ion-content>

