<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <ion-list>          
      <ion-item>
        <ion-icon name="person" item-left></ion-icon>
        <ion-label >Email:</ion-label>
        <ion-input >XXXXX</ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key" item-left></ion-icon>
        <ion-label >Password:</ion-label>
        <ion-input >XXXX</ion-input>
      </ion-item>
    </ion-list>
    
    <div padding>
      <ion-button routerLink="/datos" color="danger">Ingresar</ion-button>
    </div>
  </form>

  <div text-center>
    <a >
      Nueva cuenta
    </a>
    <a>
      Olvide password
    </a>
  </div>
</ion-content>