<!-- <app-header titulo="inicio"></app-header>-->

<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
      <form  class="centro" >
       <ion-row>         <p></p>       </ion-row>

       <ion-row>
        <ion-list>          
          <ion-item>
            <ion-icon slot="start" name="person" item-left></ion-icon>
            <ion-label >Email:</ion-label>
            <ion-input ></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-icon slot="start" name="key" item-left></ion-icon>
            <ion-label >Password:</ion-label>
            <ion-input ></ion-input>
          </ion-item>
          
            <ion-button routerLink="/productos" color="danger" size="small">Ingresar</ion-button>
          
            <ion-button routerLink="/datos" color="danger" size="small">Nuevo</ion-button>
          
          
        </ion-list>
       </ion-row>

       <ion-row>
         <ion-col></ion-col>
         <ion-col>          
            
         </ion-col>   
          <ion-col>
                      
         </ion-col>
         <ion-col></ion-col>
       </ion-row>
      </form>
    
      <!-- <div text-center>        <a>          Olvide mi contraseña        </a>      </div> -->
   
</ion-content>