<app-header titulo="Registro de nuevo usuario"></app-header>
<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title>Registro de datos personales</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <form (ngSubmit)="agregar_usuario()">
    <ion-title></ion-title>

    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-label>Nombre</ion-label>
      <ion-input name="user.nombre" [(ngModel)]="nombre" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-label>Apellido</ion-label>      
      <ion-input name="user.apellido" [(ngModel)]="apellido" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="at"></ion-icon>
      <ion-label>Correo Electrónico</ion-label>
      <ion-input name="user.email" [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="at"></ion-icon>
      <ion-label>Password</ion-label>
      <ion-input name="user.password" [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button type="submit" size="small">Registrar</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </form>

</ion-content>
