<ion-header>
  <ion-toolbar>
    <ion-title>datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nombres :</ion-label>
      <ion-input type= "text" placeholder="Nombres"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellidos :</ion-label>
      <ion-input type= "text" placeholder="Apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo electronico :</ion-label>
      <ion-input type= "email" placeholder="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de nacimiento :</ion-label>      
        <ion-datetime displayFormat="DDDD MMM D, YYYY" min="1950" max="2016" value="1979-05-02"></ion-datetime>      
    </ion-item>

    <ion-item>
      <ion-label>Contraceña :</ion-label>
      <ion-input type= "password" placeholder="contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirmar contraceña :</ion-label>
      <ion-input type= "passwordConfirmation" placeholder="Confirmar contraseña"></ion-input>
    </ion-item> 
    
    
      <ion-col>
        <ion-item>
          <ion-label>Mujer</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>          
          <ion-label>Hombre</ion-label>          
        </ion-item>
      </ion-col>
  </ion-list>
  <div padding>
    <ion-button routerLink="/datos" color="danger">Registrar</ion-button>
  </div>
</ion-content>
